body{
  background-color: #E0EEEE; 
  font-family: "Raleway", sans-serif;
  color: #333;
}

h1 {
  font-family: "Lato";
  font-size: 60px;
}

h2{
  text-align: center;
}

.waves{
  position: relative;  
  max-height: 191px;
  height: 25%;
  margin-left: -15%;
}

#scene{
  position: absolute;
  bottom: 0;
}

#front{
  z-index: 3;
}

#ship{
  position: relative;
  z-index: 2;
  // margin-bottom: 5%;
}

#back{
  z-index: 1;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

#shipImage{
  height:auto; 
  width:auto;
  max-width:300px; 
  max-height:700px;
}


