body{
  background-color: #E0EEEE; 
  font-family: "Raleway", sans-serif;
  color: #333;
}

h1 {
  font-family: "Lato";
  font-size: 60px;
}

h2{
  text-align: center;
}

.waves{
  position: relative;  
  max-height: 191px;
  height: 25%;
  margin-left: -15%;
}

// #scene{
//   bottom: 0;
// }

#front{
  z-index: 3;
  bottom: 0;
}

#ship{
  position: relative;
  z-index: 2;
  bottom: 10px;
  margin-left: 5%;
}

#back{
  z-index: 1;
  bottom: 20;
  margin-bottom: 10%;
}

#middle img{
  bottom: 10;
  margin-bottom: 20px;
}

#middle{
  z-index: 2;
  bottom: 10;
  margin-bottom: 5%;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

#shipImage{
  position: absolute;
  bottom: 100px;
  height:auto; 
  width:auto;
  max-width:300px; 
  max-height:700px;
  -webkit-transform: rotate(15deg);
}
