body{
  background-color: #E0EEEE; 
  font-family: "Raleway", sans-serif;
  color: #333;
}

h1 {
  font-family: "Lato";
  font-size: 60px;
}

h2{
  text-align: center;
}

ul img{
  margin-left: -15%;
}

#scene{
  position: absolute;
  bottom: 0;
}

#ship{
  position: relative;
  z-index: 2;
  bottom: 10px;
  margin-left: 5%;
}

#front{
  position: relative;
  bottom: 180px;
  max-height :191px;
  margin-left: -15%;
  height: 25%;
  z-index: 3;
}

#middle{
  z-index: 2;
  position: relative;
  height: 25%;
  max-height: 201px;
  bottom: 210px;
}

#back{
  position: relative;
  z-index: -1;
  height: 25%;
  margin-left: -15%;
  max-height: 211px;
  bottom: 20px;
}







.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

#shipImage{
  position: absolute;
  bottom: 100px;
  height:auto; 
  width:auto;
  max-width:300px; 
  max-height:700px;
  -webkit-transform: rotate(15deg);
}
