$base-value: 14;

//**** Neat Grid ****
$max-width: em(960, $base-value); // Max width of outer container

//**** Breakpoints ****
$desktop: min-width 850px;
$tablet: min-width 750px;
$tablet-only: min-width 750px max-width 849px;
$mobile-only: max-width 749px;

//**** Colors ****
$black:                 #111111;
$blue:                  #0e3651;
$gray:                  #999999;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #fe9800;
$orange:                #da6b11;
$pink:                  #c3325f;
$purple:                #7a43b6;
$white:                 #ffffff;