<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Confirmation</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <link rel="icon" type="image/png" href="static/images/codeblue-favicon.png">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/applications.css">
    
    <!-- Google Fonts: Raleway, Lato, Oxygen-->
    <link href='http://fonts.googleapis.com/css?family=Lato|Oxygen|Raleway' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
 <div class="block none">
  <div class="box">
    <p>We have received your submission! Thank you for applying.</p>
    <a href="/"><div class="home">Home</div></a>
  </div>
</div>


  </body>
</html>
