<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CodeBlue</title>
  <link rel="icon" type="image/png" href="static/images/codeblue-favicon.png">
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/jquery.fullPage.css">
  <link rel="stylesheet" href="static/css/home.css">
  
  <!-- Google Fonts: Raleway, Lato, Oxygen -->
  <link href='http://fonts.googleapis.com/css?family=Lato|Oxygen|Raleway' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>
  <script src="static/javascript/flowtype.js"></script>  
  <script src="static/javascript/jquery.fullPage.min.js"></script>
</head>

<body>


  <div id="fullpage">
      <div class="section">
  
        <div class="splash-image">
          <div class="splash-logo">
            <img src="static/images/codeblue-hlogo.png">
            <div id="presented">
              <h2 id="presented-by">presented by <br><a href="http://www.yhack.org" target="_blank"><img src="static/images/YHACK_white_blue.png"/></a></h2>
            </div>
            <h2><span class="tag-emph">200</span> Students. <span class="tag-emph">March 28</span>, 2015.</h2>
          </div>
          <h4 id="about-text">This is CodeBlue, a one day learnathon for high school students, held at Yale.</h4>
          <div class="splash-content">
            <form target="_self" onsubmit="" action="javascript: postForm()">
              <div class="line">
                <button class="button" id="student">Student Registration</button>
              </div>
              <div class="line">
                <button class="button" id="mentor">Mentor Registration</button>
              </div>
            </form>
          </div>
          <div class="sponsor-content">
            <h3><span>Interested in Sponsoring?</span> Get in touch with us at <a href="mailto:sponsors@yhack.org"><span>sponsors@yhack.org</span></a></h3>
          </div>
        </div>
      </div>
      <div class ='section'>
        <div style="text-align: center; margin-bottom: 10px;"><img src="/static/images/faq-header.png" height="40px" alt="F.A.Q."></div>
        <div id="container">
          <div class="item">
            <b>When and where will CodeBlue take place?</b><br>
            <p>CodeBlue 2015 will take place on Saturday, March 28, 2015 from morning until late afternoon, and it will be held at Yale’s School of Management Building AKA Evans Hall. Check back soon for a more detailed schedule.
            </p>
          </div>
          <div class="item">
            <b>Who can attend?</b><br>
            <p>Any high school student is eligible to attend, including both students with and without programming experience.</p>
          </div>
          <div class="item">
            <b>Do I need programming experience?</b><br>
            <p>Not at all! In fact, the goal of CodeBlue is to expose students who have not had programming experience to computer science. That being said, students who have had some programming experience will also find plenty to learn during the day!</p>
          </div>
          <div class="item">
            <b>But what if I’m not a high school student?</b><br>
            <p>We’re also looking for volunteers and mentors for the day of the event. If you are interested sign up as a Mentor!</p>            
          </div>
          <div class="item">
            <b>Will travel be reimbursed?</b><br>
            <p>We are not providing travel reimbursements. Most attendees commute from the New Haven area.</p>
          </div>

          <div class="item">
            <b>How much does it cost to attend?</b><br>
            <p>The entire day is completely free!</p>
          </div>
          <div class="item">
            <b>When is the deadline to register?</b><br>
            <p>March 21st by 11:59pm! Register now!</p>
          </div>
          <div class="item">
            <b>What should I bring?</b><br>
            <p>A laptop, a photo ID, and your creativity! If you cannot bring a laptop, feel free to let us know and we will try our best to make accommodations!</p>
          </div>
          <div class="item">
            <b>Is CodeBlue open for parents as well?</b><br>
            <p>CodeBlue is for students only.</p>
          </div>
          <div class="item">
            <b>Will you provide food?</b><br>
            <p>YHack will provide breakfast, lunch and snacks during the event.</p>
          </div>
          <div class="item">
            <b>Other Questions</b><br>
            <p>If there is anything else you are wondering about, please feel free to contact us at team@yhack.org. We are looking forward to seeing you on campus in March!</p>
          </div>
        </div>
      </div>
  </div>



<ul id="scene" data-limit-x="false" data-limit-y="false">
  <div id="wave3">
    <li class="layer" data-depth="0.60">
      <img src="static/images/parallax/3.png" alt="">
    </li>
  </div>
  <div id="wave2">
    <li class="layer" data-depth="0.80">
      <img src="static/images/parallax/2.png" alt="">
    </li>
  </div>
  <div id="wave1">
    <li class="layer" data-depth="1.00">
      <img src="static/images/parallax/1.png" alt="">
    </li>
  </div>
</ul>

<script src="static/javascript/parallax.js"></script> 
<script>
  $(document).ready(function() {
    $('#fullpage').fullpage({
              css3: true,
        scrollingSpeed: 700,
        autoScrolling: true,
        fitToSection: true,
        scrollBar: false,
        easing: 'easeInOutCubic',
        easingcss3: 'ease',
        loopBottom: false,
        loopTop: false,
        loopHorizontal: true,
        continuousVertical: false,
        normalScrollElements: '#element1, .element2',
        scrollOverflow: false,
        touchSensitivity: 15,
        normalScrollElementTouchThreshold: 5,

        //
        navigation: true,
        navigationPosition: 'right',
        navigationTooltips: ['Home', 'FAQ'],
        slidesNavigation: true,
        slidesNavPosition: 'bottom',


    });







    var msnry = new Masonry( "#container", {
      isFitWidth: true
    });
    $('#student').click(function() {
      window.location= "/students";
    });
    $('#mentor').click(function() {
      window.location= "/mentors";
    });


  });



  var scene = document.getElementById('scene');
  var parallax = new Parallax(scene); 
  $('h4').flowtype({
    minimum : 500,
    maximum : 1200,
    minFont : 12,
    maxFont : 20,
    fontRatio : 30
  });
  $('h2').flowtype({
    minimum : 500,
    maximum : 1200,
    minFont : 15,
    maxFont : 25,
    fontRatio : 30
  });
  $('h3').flowtype({
    minimum: 500,
    maximum: 1200,
    minFont: 12,
    maxFont: 15,
    fontRatio: 30
  });
</script>

<script>
  function validateEmail(email) { 
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  function postForm(){
    var email = $('#email').val();
    if (validateEmail(email)) {
      $.ajax({
        url: "https://docs.google.com/a/yhack.org/forms/d/1xkHPC3Weu_xnIA8XDi1pvfeX1ALG5f_nHuFhhQXbad0/formResponse",
        data: { "entry.447762345" : email },
        type: "POST",
        dataType: "xml",
        statusCode: {
          0: function (){
            $('#email').val("").attr("placeholder", "Thanks! We'll be in touch.");
            $('#email').blur();
          },
          200: function (){
            $('#email').val("").attr("placeholder", "Thanks! We'll be in touch.");
            $('#email').blur();
          }
        }
      });
    }
    else {
      $('#email').val("").attr("placeholder", "That's not a valid email.");
      $('#email').blur();
    }
  }
</script>    
<!-- endbuild-->
</body>
</html>
