<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CodeBlue - Mentor Registration</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <link rel="icon" type="image/png" href="static/images/codeblue-favicon.png">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/applications.css">
    
    <!-- Google Fonts: Raleway, Lato, Oxygen-->
    <link href='http://fonts.googleapis.com/css?family=Lato|Oxygen|Raleway' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
    <div class="form-content">
      <form method="POST" action="/mentors">
        <div class="line">
          <input id="name" name="name" type="text" placeholder="full name" autocomplete="off" />
        </div>
        <div class="line">
          <input id="email" name="email" type="text" placeholder="email" autocomplete="off" />
        </div>
        <div class="line">
          <input id="phone" name="phone" type="text" placeholder="phone number" autocomplete="off" />
        </div>
        <div class="line">
          <input id="school" name="school" type="text" placeholder="school" autocomplete="off" />
        </div>

        <h2>What would you like to teach?</h2>
        <div class="line">
          <input id="html" name="html" type="text" placeholder="html" autocomplete="off" />
        </div>
        <div class="line">
          <input id="css" name="css" type="text" placeholder="css" autocomplete="off" />
        </div>
        <div class="line">
          <input id="javascript" name="javascript" type="text" placeholder="javascript" autocomplete="off" />
        </div>
        <div class="line">
          <input id="meteor" name="meteor" type="text" placeholder="meteor" autocomplete="off" />
        </div>
        <div class="line">
          <input id="entrepreneurship" name="entrepreneurship" type="text" placeholder="entrepreneurship" autocomplete="off" />
        </div>

        <div class="line">
          <button>Apply</button>
        </div>
      </form>
    </div>
    <!-- endbuild-->
  </body>
</html>
