body {
  background-color: #E0EEEE;
  font-family: "Raleway", sans-serif;
  color: #333;
  font-size: 18px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

h1 {
  font-family: "Lato";
  font-size: 60px;
}

h2 {
  text-align: center;
}

ul img {
  margin-left: -15%;
}

#scene {
  position: fixed;
  bottom: -3%;
  max-width: 100%;
  max-height: 25%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#ship {
  position: relative;
  z-index: 2;
  bottom: 10px;
  margin-left: 5%;
}

#wave1 {
  z-index: 5;
  position: relative;
  bottom: 125px;
  margin-left: -2%;
}

#wave1 img {
  animation: wave 4s 0.1s infinite linear;
  -webkit-animation: wave 4s 0.1s infinite linear;
  -moz-animation: wave 4s 0.1s infinite linear;
  -ms-animation: wave 4s 0.1s infinite linear;
}

#wave2 {
  position: relative;
  z-index: 4;
  height: 35%;
  bottom: 135px;
  margin-left: -4%;
}

#wave2 img {
  animation: wave 5s 0.1s infinite linear;
  -webkit-animation: wave 5s 0.1s infinite linear;
  -moz-animation: wave 5s 0.1s infinite linear;
  -ms-animation: wave 5s 0.1s infinite linear;
}

#wave3 {
  position: relative;
  z-index: 3;
  max-height: 181px;
  bottom: -35px;
  margin-left: -5%;
}

#wave3 img {
  animation: waveRev 6s 0.1s infinite linear;
  -webkit-animation: waveRev 6s 0.1s infinite linear;
  -moz-animation: waveRev 6s 0.1s infinite linear;
  -ms-animation: waveRev 6s 0.1s infinite linear;
}

.splash-image {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.splash-logo img {
  width: 75%;
  max-width: 700px;
}

.slide {
  margin-top: -3%;
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 5%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 5%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 5%, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 5%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 5%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 5%, 0) rotateZ(-360deg);
  }
}
@-moz-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 5%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 5%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 5%, 0) rotateZ(-360deg);
  }
}
@-ms-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}
@keyframes waveRev {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) translate3d(0, 5%, 0) rotateZ(360deg);
    -moz-transform: rotateZ(-360deg) translate3d(0, 5%, 0) rotateZ(360deg);
    transform: rotateZ(-360deg) translate3d(0, 5%, 0) rotateZ(360deg);
  }
}
@-webkit-keyframes waveRev {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) translate3d(0, 5%, 0) rotateZ(360deg);
    -moz-transform: rotateZ(-360deg) translate3d(0, 5%, 0) rotateZ(360deg);
    transform: rotateZ(-360deg) translate3d(0, 5%, 0) rotateZ(360deg);
  }
}
@-moz-keyframes waveRev {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 5%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) translate3d(0, 5%, 0) rotateZ(360deg);
    -moz-transform: rotateZ(-360deg) translate3d(0, 5%, 0) rotateZ(360deg);
    transform: rotateZ(-360deg) translate3d(0, 5%, 0) rotateZ(360deg);
  }
}
@-ms-keyframes waveRev {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) translate3d(0, 10%, 0) rotateZ(360deg);
    -moz-transform: rotateZ(-360deg) translate3d(0, 10%, 0) rotateZ(360deg);
    transform: rotateZ(-360deg) translate3d(0, 10%, 0) rotateZ(360deg);
  }
}
.splash-content {
  width: 90%;
  max-width: 500px;
  margin: 40px auto 0 auto;
  text-align: center;
}

.line {
  margin: 0 auto;
  text-align: center;
}

input {
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 90%;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: #FF9100;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}

[type="search"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

*::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

*:-moz-placeholder {
  opacity: .6;
}

*::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: .6;
}

*:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

button {
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
  width: 92%;
  background-color: rgba(53, 164, 219, 0.3);
  border: none;
  outline: none;
  text-transform: uppercase;
  color: rgba(37, 67, 124, 0.9);
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

/* Firefox 18- */
input:focus::-moz-placeholder {
  color: transparent;
}

/* Firefox 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
}

/* oldIE ;) */
button:hover {
  background-color: rgba(37, 67, 124, 0.9);
  color: white;
}

.sponsor-content {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 5px;
}

.sponsor-content h3 {
  font-size: 15px;
  font-family: "Lato";
}

.sponsor-content a {
  text-decoration: none;
  color: white;
}

.sponsor-content span {
  color: #25437c;
}

#presented {
  padding-top: 20px;
}

#presented-by {
  font-family: "Lato";
  text-transform: uppercase;
}

#presented-by img {
  height: 40px;
  width: auto;
  padding-bottom: 40px;
  padding-top: 8px;
  margin-left: -6px;
}

.tag-emph {
  color: #35a4db;
}

#about-text{
  padding-top: 15px;
  /*margin-bottom: -8px;*/
}