<!DOCTYPE HTML>
<html>
  <head>
      <title>YHack 2014 | Live</title>
      <link href="/static/css/reset.css" rel="stylesheet">
      <link href="/static/css/app.css" media="screen" rel="stylesheet">
      <link href="/static/css/live.css" rel="stylesheet">
      <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script>!window.jQuery && document.write('<script src="/static/javascript/jquery-1.11.1.js"><\/script>')</script>
      <script type="text/javascript" src="/static/javascript/live.js"></script>
      <meta property="og:title" content="YHack 2014">
      <meta property="og:image" content="http://www.yhack.org/static/images/yhackLogo.png">
  </head>
  <body>
    <div id="live-body-wrapper">
    	<header>
    		<div id="logo">
    			<img id="logo-home" src="/static/images/YHACK_white.png">
    		</div>
    		<div id="header-links-wrapper">
          <span class="header-link"><a href="/live">Home</a></span>
    		</div>
    	</header>
    	<div id="live-content-wrapper" class="loaded">
    		<div id="live-content">
          <div class="heading">
            <h2>Welcome to</h2>
            <img src="/static/images/codeblue.png" style="height: 100px; padding-top: 25px;"/>
            <h2 style="padding-top: 25px;">presented by <a href="http://www.yhack.org" target="_blank" class="green">YHack</a></h2>
          </div>
	    		<div class="content-wrapper announcements-wrapper">
					  <h2>Announcements</h2>
            <p class="center"><a href="http://www.pastebin.com/fkRgM8pj">http://www.pastebin.com/fkRgM8pj</a></p>
			    </div>
          <div class="content-wrapper clear-bg">
            <div class="content-wrapper left-content">
              <div class="content-wrapper inner-wrapper clear-bg">
                <h2>feed</h2>
                <a class="twitter-timeline" href="https://twitter.com/YaleHack" data-widget-id="527976882734514177">Tweets by @YaleHack</a>
              </div>
            </div>
            <div class="content-wrapper right-content">
              <div class="content-wrapper inner-wrapper clear-bg">
                <h2>tidbits</h2>
                <h3>Links</h3>
                <p>Email: <a href="mailto:team@yhack.org">team@yhack.org</a></p>
                <p>Announcements: <a href="https://www.twitter.com/YaleHack">@YaleHack</a></p>
                <p>Live updates: <a href="http://www.yhack.org/live">yhack.org/live</a></p>

                <h3>WiFi</h3>
                <p>Network: YaleGuest</p>
                <p>Password: [none]</p>

                <h3>Other</h3>
                <p><a href="schedule#locations">Talk Locations</a></p>

                <h3>Emergency</h3>
                <p>Yale Police: (203) 432-4400</p>
                <p>Yale Security: (203) 785-5555</p>
              </div>
            </div>
          </div>
		    </div>
    	</div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42185504-3', 'auto');
      ga('send', 'pageview');

    </script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </body>
</html>