<!DOCTYPE HTML>
<html>
  <head>
      <title>YHack 2014 | Live</title>
      <link href="/static/css/reset.css" rel="stylesheet">
      <link href="/static/css/app.css" media="screen" rel="stylesheet">
      <link href="/static/css/live.css" rel="stylesheet">
      <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script>!window.jQuery && document.write('<script src="/static/javascript/jquery-1.11.1.js"><\/script>')</script>
      <script type="text/javascript" src="/static/javascript/live.js"></script>
      <meta property="og:title" content="YHack 2014">
      <meta property="og:image" content="http://www.yhack.org/static/images/yhackLogo.png">
  </head>
  <body>
    <div id="live-body-wrapper">
    	<header>
    		<div id="logo">
    			<img id="logo-home" src="/static/images/YHACK_white.png">
    		</div>
    		<div id="header-links-wrapper">
          <span class="header-link"><a href="/live/travel">Travel</a></span>
    			<span class="header-link"><a href="/live/schedule">Schedule</a></span>
          <span class="header-link"><a href="/live/prizes">Prizes</a></span>
    			<span class="header-link"><a href="/live/FAQs">Info</a></span>
          <span class="header-link"><a href="/live">Home</a></span>
    		</div>
    	</header>
    	<div id="live-content-wrapper" class="loaded">
        <div id="live-content" class="schedule-content">
          <div class="heading">
            <h1>SCHEDULE</h1>
          </div>
          <div class="content-wrapper inner-wrapper talks-wrapper">
            <h2>Talks, Workshops, and Classes</h2>
            <h3>Friday</h3>
            <table>
              <tr><td class="time">6:30PM - 7:00PM</td> <td><span class="bold">Finding teammates</span> on second floor lobby</td></tr>
              <tr><td class="time">8:30PM - 9:00PM</td> <td><span class="bold">Microsoft API</span> in secondary talk area</td></tr>
              <tr><td class="time">8:30PM - 8:45PM</td> <td><span class="bold">Qlik API</span> in main talk area</td></tr>
              <tr><td class="time">8:45PM - 9:00PM</td> <td><span class="bold">Intel API</span> in main talk area</td></tr>
              <tr><td class="time">9:00PM - 10:00PM</td> <td><span class="bold">Intro to Web Dev - Beginner</span> in secondary talk area</td></tr>
              <tr><td class="time">9:00PM - 9:30PM</td> <td><span class="bold">Viacom API</span> in main talk area</td></tr>
              <tr><td class="time">9:30PM - 10:00PM</td> <td><span class="bold">Priceline API</span> in main talk area</td></tr>
              <tr><td class="time">10:00PM - 10:30PM</td> <td><span class="bold">Intro to Rails</span> in secondary talk area</td></tr>
              <tr><td class="time">10:00PM - 10:30PM</td> <td><span class="bold">Staples - Innovation &amp; Data Science at the 3rd Largest US Internet Retailer</span> in main talk area</td></tr>
              <tr><td class="time">10:30PM - 10:45PM</td> <td><span class="bold">Yale Cultural Heritage API</span> in main talk area</td></tr>
              <tr><td class="time">11:00PM - 12:00AM</td> <td><span class="bold">Intro to Node.js</span> in secondary talk area</td></tr>
              <tr><td class="time">11:00PM - 11:15PM</td> <td><span class="bold">Yo API</span> in main talk area</td></tr>
              <tr><td class="time">11:15PM - 11:30PM</td> <td><span class="bold">Bloomberg API</span> in main talk area</td></tr>
            </table>

            <h3>Saturday</h3>
            <table>
              <tr><td class="time">12:00AM - 1:00AM</td> <td><span class="bold">Intro to Web Dev - Intermediate</span> in secondary talk area</td></tr>
              <tr><td class="time">12:30PM - 1:00PM</td> <td><span class="bold">Pebble API</span> in main talk area</td></tr>
              <tr><td class="time">1:00PM - 1:30PM</td> <td><span class="bold">Makerbot Workshop</span> in main talk area</td></tr>
              <tr><td class="time">1:30PM - 2:00PM</td> <td><span class="bold">Intel Galileo</span> in main talk area</td></tr>
              <tr><td class="time">2:00PM - 2:30PM</td> <td><span class="bold">Two Sigma API</span> in main talk area</td></tr>
              <tr><td class="time">2:30PM - 3:00PM</td> <td><span class="bold">Moxtra API</span> in main talk area</td></tr>
              <tr><td class="time">3:00PM - 3:30PM</td> <td><span class="bold">Yale Cultural Heritage Workshop</span> in main talk area</td></tr>
              <tr><td class="time">3:30PM - 4:00PM</td> <td><span class="bold">Microsoft API Workshop</span> in main talk area</td></tr>
              <tr><td class="time">4:00PM - 4:30PM</td> <td><span class="bold">Thiel Fellowship Panel</span> in main talk area</td></tr>
              <tr><td class="time">4:30PM - 5:00PM</td> <td><span class="bold">Thinkful - Chrome Extension Workshop</span> in main talk area</td></tr>
              <tr><td class="time">5:00PM - 5:30PM</td> <td><span class="bold">GitHub - Beginner Class</span> in main talk area</td></tr>
              <tr><td class="time">5:30PM - 6:00PM</td> <td><span class="bold">Github - Advanced Class</span> in main talk area</td></tr>
              <tr><td class="time">6:30PM - 7:00PM</td> <td><span class="bold">Morgan Stanley - Financial Engineering</span> in main talk area</td></tr>
              <tr><td class="time">7:30PM - 8:00PM</td> <td><span class="bold">Stack Overflow - Your First Dev Job</span> in main talk area</td></tr>
              <tr><td class="time">8:30PM - 9:00PM</td> <td><span class="bold">Salesforce Workshop</span> in main talk area</td></tr>
            </table>

            <h3 id="locations">Main Talk Area</h3>
            <p>Left from the lobby, behind all the sponsors with a giant glass wall behind. Seats 200.</p>

            <h3>Secondary Talk Area</h3>
            <p>Left from the lobby, past all the sponsors. Pink and orange lights have been strung up. Seats 40.</p>
          </div>
          <div class="content-wrapper inner-wrapper general-wrapper">
            <h2>General Schedule</h2>
            <h3>Friday</h3>
            <table>
              <tr><td class="time">3:00PM - Saturday</td> <td><span class="bold">Registration Opens</span> in first floor lobby</td></tr>
              <tr><td class="time">6:00PM - 10:00PM</td> <td><span class="bold">Photobooth</span> in first floor lobby</td></tr>
              <tr><td class="time">7:00PM - 7:30PM</td> <td><span class="bold">Kickoff</span> in courtyard</td></tr>
              <tr><td class="time">7:30PM</td> <td><span class="bold">Hacking Starts!</span></td></tr>
              <tr><td class="time">7:30PM - 8:30PM</td> <td><span class="bold">Dinner - Thai Taste</span> in first floor lobby</td></tr>
            </table>

            <h3>Saturday</h3>
            <table>
              <tr><td class="time">12:00AM - 12:30AM</td> <td><span class="bold">Midnight Snack - Insomnia cookies with Salesforce API</span> in main floor area</td></tr>
              <tr><td class="time">12:30AM - 1:00AM</td> <td><span class="bold">Costume Contest</span> in first floor lobby</td></tr>
              <tr><td class="time">1:00AM - Sa 5:00AM</td> <td><span class="bold">Scary Movies + Popcorn</span> in secondary talk area</td></tr>
              <tr><td class="time">9:00AM - 10:00AM</td> <td><span class="bold">Breakfast - Dunkin Donuts</span> in first floor lobby</td></tr>
              <tr><td class="time">12:30PM - 1:30PM</td> <td><span class="bold">Lunch - Tikkaway</span> in first floor lobby</td></tr>
              <tr><td class="time">6:30PM - 7:30PM</td> <td><span class="bold">Dinner - Brick Oven Pizza by Staples</span> in first floor lobby</td></tr>
              <tr><td class="time">11:00PM - 11:30AM</td> <td><span class="bold">Rap Battle</span> in first floor lobby</td></tr>
            </table>
            
            <h3>Sunday</h3>
            <table>
              <tr><td class="time">12:00AM - 12:30AM</td> <td><span class="bold">Midnight Snack</span> in first floor lobby</td></tr>
              <tr><td class="time">7:00AM - 8:00AM</td> <td><span class="bold">Breakfast - Panera Bread</span> in first floor lobby</td></tr>
              <tr><td class="time">7:30AM</td> <td><span class="bold">Hacking Stops</span></td></tr>
              <tr><td class="time">8:00AM - 9:30AM</td> <td><span class="bold">Buses to Commons</span> in first floor lobby</td></tr>
              <tr><td class="time">9:30AM - 11:00AM</td> <td><span class="bold">Expo</span> in Commons</td></tr>
              <tr><td class="time">11:00AM - 11:30AM</td> <td><span class="bold">Final Presentations</span> in Commons</td></tr>
              <tr><td class="time">11:30AM - 12:00AM</td> <td><span class="bold">Keynote + Awards</span> in Commons</td></tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42185504-3', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>