paper-ripple {
  color: #50a3f7;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#ripple{
  position: relative;
  width: 100%; 
  vertical-align: top;
  background-color: #fff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);  
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  min-width: 380px;
}

:host {
  display: block;
  // margin: 5px 50px 5px 10px;
  // padding: 5px 10px 5px 10px;
}

h4 {
  // margin: 2%;
}