:host {
  display: block;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
}

#card {
  position: relative;
  display: inline-block;
  width: 100%; 
  min-width: 195px;
  height: 250px;
  vertical-align: top;
  background-color: #fff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

#card::shadow #ripple{
  color: #50a3f7;
}

div{
  display: block;
}